<header id="header" class="header">
  <div class="container">
    <div id="nav" class="nav">
      <ul class="nav__list">
        <li class="nav__list--item">
          <a href="/" class="nav__list--link">Home</a>
        </li>
        <li class="nav__list--item">
          <a href="/posts" class="nav__list--link">Posts</a>
        </li>
        <li class="nav__list--item">
          <a href="/add-post" class="nav__list--link">Add post</a>
        </li>
      </ul>
    </div>
  </div>
</header>
