<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="container">
      <div class="wrapper">
        <form id="post-form" class="form" method="post" action="/add-post">
          <div class="form__info">
            <label
              >Post Title
              <input type="text" name="title" />
            </label>
            <label
              >Subject
              <input type="text" name="author" />
            </label>
          </div>
          <div class="form__file">
            <label for="image">Upload image</label>
            <input type="file" name="image" id="image" />
          </div>
          <div class="form__text">
            <label
              >Post Text
              <textarea name="text"></textarea>
            </label>
          </div>
          <div class="form__button">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
