<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="posts">
      <div class="container">
        <section class="post">
          <div class="post__header post__header--preview">
            <a href="/posts/1">
              <img
                class="post__img"
                src="http://placehold.it/750x350"
                alt="..."
              />
            </a>
          </div>

          <div class="post__content">
            <h2 class="post__title">Як писати код шидко і безболісно?</h2>
            <p class="post__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus deserunt nulla asperiores, ducimus ipsum et esse,
              ratione excepturi ad consequuntur deleniti, nihil officia quae
              ipsam repellat! Veritatis natus obcaecati eligendi, eos quae
              aliquid mollitia rem, molestiae, delectus id aut facere debitis
              doloremque neque error nobis doloribus sunt. Voluptas, soluta
              sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veniam ab repellendus voluptas praesentium laudantium maxime
              beatae. Sequi pariatur itaque consectetur vero eveniet commodi
              delectus accusantium dolore sint suscipit, in quaerat corrupti,
              facilis dolorum maiores animi magni officia harum voluptate
              praesentium, doloribus aperiam. Maxime voluptate voluptas magnam
              impedit natus? Dolores reiciendis ab voluptatibus id
              exercitationem, ipsam sit odit recusandae neque iste quae. Quidem
              nulla quod quae aspernatur cumque non ipsum repellendus temporibus
              nam sed natus deserunt qui unde nostrum quos, eum at esse nemo
              doloribus, perferendis obcaecati eligendi voluptates eius!
              Eligendi officiis sequi accusantium numquam delectus voluptatum
              facilis nostrum recusandae hic!
            </p>
          </div>

          <div class="post__footer">
            <ul class="post__data">
              <li class="post__data--item">
                <time datetime="2021-02-13">13.02.2021</time>
              </li>
              <li class="post__data--item">створення сайтів</li>
            </ul>

            <a class="post__read" href="/posts/1">read more</a>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
