*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #202020;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper.error {
  text-align: center;
  font-size: 25px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0d0d0d;
  -webkit-box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list--item:hover .nav__list--link {
  background-color: #3137c9;
  text-decoration: none;
}

.nav__list--link {
  display: block;
  padding: 13.5px;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.posts {
  min-height: 100vh;
  padding: 80px 0 60px 0;
}

.post {
  margin-bottom: 30px;
  padding: 15px;
  overflow: hidden;
  background-color: #202020;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.post__header {
  margin: 0 0 25px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.post__header--preview {
  margin: -25px -25px 25px;
}

.post--open .post__header {
  height: auto;
}

.post__img {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.post__content {
  margin-bottom: 15px;
}

.post__title {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4;
}

.post__description {
  font-size: 14px;
  color: #d2d2d2;
  margin-bottom: 10px;
}

.post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #828282;
  line-height: 1.2;
}

.post__data--item:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 15px;
  position: relative;
  top: -2px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.post__read {
  font-size: 14px;
  color: #107eff;
  text-decoration: none;
}

.post__read:hover {
  text-decoration: underline;
}

.post__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 12px;
  color: #ffffff;
}

.post__actions a {
  color: inherit;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.post__actions a:hover {
  opacity: 1;
}

.post__actions-icon {
  margin-left: 5px;
}

.btn-delete {
  cursor: pointer;
  border: 0;
  outline: none;
  background: inherit;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.btn-delete:hover {
  opacity: 1;
}

.error__title {
  font-size: 75px;
}

.form {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.form__group {
  margin-bottom: 15px;
  position: relative;
  margin-bottom: 25px;
}

.form__control {
  display: block;
  width: 100%;
  padding: 5px 0 7px;
  background: none;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
}

.form__control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__control::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__control--textarea {
  overflow: hidden;
  height: 32px;
  resize: none;
}

.form__control--textarea::-webkit-scrollbar {
  width: 2px;
}

.form__control--textarea::-webkit-scrollbar-track {
  background-color: #d2d2d2;
  border-radius: 5px;
}

.form__control--textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3137c9;
}

.form__control--file {
  position: absolute;
  overflow: hidden;
  outline: none;
  z-index: -100;
  opacity: 0;
}

.form__control--label {
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid #3f3f3f;
  color: rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
  width: 100%;
}

.form__control--label:hover + .form__line {
  width: 100%;
}

.form__control:focus {
  outline: none;
}

.form__control:focus + .form__line {
  width: 100%;
}

.form__line {
  width: 0;
  height: 1px;
  background-color: #3137c9;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.form__footer {
  text-align: right;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 13px 25px;
  background: #3137c9;
  -webkit-box-shadow: 0 7px 17px -10px rgba(32, 84, 219, 0.3);
          box-shadow: 0 7px 17px -10px rgba(32, 84, 219, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  background-color: #2c31b4;
}
/*# sourceMappingURL=style.css.map */