// VARIABLES
$primary: #202020;
$secondary: #121212;
$white: #ffffff;
$black: #000000;
$gray: #d2d2d2;
$red: #ed3024;
$blue: #3137c9;

// MAIN STYLES
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: $primary;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
